<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <candidate_promowidget>
            <general>
                <enable>1</enable>
                <show_in_all_pdp>1</show_in_all_pdp>
                <product_ids>15</product_ids>
                <message>Promo message</message>
                <delay>5000</delay>
                <bg_color>#FFEB3B</bg_color>
                <text_color>#000000</text_color>
            </general>
        </candidate_promowidget>
    </default>
</config>
